* {
    padding: 0;
    margin: 0;
}

body {
    --white-: #fff;
    --black-: #000;
    --left_menu_color- : #333;
    --background_color-: #eee;
    --left_menu_active_choice: #575757;
    background-color: var(--background_color-);
    --banner_heigth- : 120px;
    --light_grey-: #777;
    --light_green-: #4CAF50;
}

.banner {
    /* background: url("./Bilder/bannerBilde.png"), no-repeat; */
    /* background-color: var(--left_menu_active_choice); */
    background-color: var(--background_color-);
    position: sticky;
    top: 0;
    height: var(--banner_heigth-);
    display: flex;
    align-items: center;
    z-index: 1;
    font-size: 200%;
    font-family: 'Nosifer', sans-serif;
    justify-content: space-between;
    width: 100%;
}

.box {
    text-decoration: none;
    display: flex;
    margin: 35px;
    cursor: pointer;
    z-index: 1; 
    align-items: center;
    height: var(--banner_heigth-);
    width: 400px;
}

#center_banner {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.banner img {
    object-fit: contain;  
    height: var(--banner_heigth-); 
    max-width: 100%; 
}

.side_menu {
    position: absolute;
    top: 0;
    left: -250px; 
    height: 100vh;
    width: 250px;
    background-color: var(--left_menu_color-);
    transition: left 0.3s ease; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    overflow: hidden;
}

.side_menu a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--white-);
    white-space: nowrap;
    transition: 0.3s;
    display: block;
}

.side_menu a:hover {
    background-color: var(--left_menu_active_choice);
}

#side_menu_button:hover + .side_menu {
    left: 0;
}

.side_menu:hover {
    left: 0;
}

#user_noe {
    display: flex;
    margin-right: 20px;
    justify-content: space-around;
    align-items: center;
}

#user_noe a {
    text-decoration: none;
    color: var(--black-);
} 


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 45px;
    box-shadow: 0px -37px 52px -44px rgba(0,0,0,0.65);
}

main div{
    margin-bottom: 40px;
}

#introtekst {
    width: 100%;
    font-size: larger;
}

#introtekst div {
    height: 150px;
    background-color: var(--white-);
}


.scenic {
    position: relative;
    overflow: hidden;
    height: 600px;
    min-width: 100%;
}

.scenic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.vis {
    width: 100%;
}

.diverse_items {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
}

.diverse_items > div {
    position: relative; 
    width: 33%;
    overflow: hidden;
}

.diverse_items > div img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.lesbarLink {
    color: var(--black-);
}
.diverse_items > div a.link-box {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: var(--white-);
    font-size: 17px; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold; 
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diverse_items > div a.link-box:hover {
    background-color: rgba(0, 0, 0, 0.9); 
}


#categories_wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.categories {
    display: flex;
    flex-direction: column;
}

.categories h2 {
    margin: auto;
    margin-bottom: 50px;
}

.categories_items {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
}

.categories_items > div {
    min-height: 410px;
    max-width: 330px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.categories_items > div a {
    height: 50%;
    width: 100%;
}

.categories_items > div a img {
    width: 100%; 
    height: 205px; 
    object-position: center; 
}


.items_info {
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 15px;
}

footer {
    border-top: 2px solid black;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socials {
    width: 30%;
    height: 250px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#socials ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 65%;
    list-style-type: none;
}


#socials ul li img {
    height: 65px;
    width: 65px;
}



#footer_links {
    width: 70%;
    height: 250px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#footer_links h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

#footer_links div {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_links div ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    gap: 15px;
}

#footer_links div ul a{ 
    text-decoration: none;
    list-style-type: none;
    color: var(--black-);
}



/* For kontakt oss side utenom tidligere kode*/

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--black-);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--light_green-);
    color: var(--white-);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#kontaktOss{
    max-width: 400px; 
    min-width: 300px;
    margin: 80px;
    padding: 20px; 
    border: 2px solid var(--black-); 
    border-radius: 5px;
    height: fit-content;
    min-height: 300px;
    object-fit: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#kontaktOss form{
    width: 80%;
    margin-top: 5%;
}

#skrift {
    position: absolute;
    top: 20%;
    left: 12.5%;
    color: var(--black-); 
    text-align: center;
    z-index: 1;
    width: 450px;
    height: 450px; 
    border-radius: 50%;
    border: 5px solid var(--black-);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 25px;
}

#skrift p {
    word-break: break-word;

}


#skrift:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); 
}


#skrift h1, #skrift p {
    margin: 0;
    padding: 0;
}

#løsning_bilde {
    height: 800px;
}



/*Jonas css her: */


/*Domas css her: */
 

/*Gabriel css her: */


/*Fredrik css her: */

.transport-h1 {
    text-align:center;
    font-size: 36px;
    
}

.transport-h2 {
    text-align:center;
    font-size: 36px;
}

.transport-h3 {
    text-align:center;
    font-size: 36px;
}

.transport-h4 {
    text-align:center;
    font-size: 36px;
}

.reisetabell1 {
    margin-top: 30px;
    display: block;
}

.reisetabell2 {
    margin-top: 30px;
    display: block;
}

.reisetabell3 {
    margin-top: 30px;
    display: block;
}

.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: whitesmoke;
    font-weight: bold;
}




/*Edvar css her: */

.top {
    position: relative;
    overflow: hidden;
    height: 600px;
    min-width: 100%;
    /*border: 2px solid black;*/
    background: #C8BFBF;
  }
.top-overskrift {
    position: absolute;
    top: 5%;
    left: 3%;
    
  }
  /*.overskrift-bærekraft {
    color: #fff;
    font-size: 8em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }*/
  .overskrift-bærekraft {
    color: #fff;
   font-family: 'freight-big-pro';
   font-size: 150px;
   font-weight: normal;
   letter-spacing: -6.5px;
   overflow-wrap: break-world;
  }
  .top-overskrift p {
    font-family:SpaceGrotesk-Medium;
        max-width: 520px;
        text-transform: uppercase;
	color: whitesmoke;
	font-size: 16px;
  }

.bærekraft-bildet2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.bærekraft-bildet1 {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

 .bærekraft-h2 {
    font-weight: bold;
    font-family: 'freight-big-pro';
    margin-bottom: 50px;
}

.box-row-1 {
    width: 1250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    /*border: 2px solid black;*/
  }
.box-row-1 h3 {
    position: absolute;
    top: 5%;
    left: 2%;
    font-weight: bold;
    font-family: 'freight-big-pro';
    font-size: 23px;
    }
.box2 h3 {
    color: white;
}

.box-row-2 {
    width: 1250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    /*border: 2px solid black;*/
  }

.box1{
    width: 400px;
    height: 100%;
    position: absolute;
    left: 0;
    /*border: 2px solid black;*/
  }

.box2{
    width: 400px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /*border: 2px solid black;*/
  }

.box3{
    width: 400px;
    height: 100%;
    position: absolute;
    right: 0;
    /*border: 2px solid black;*/
  }

.box4{
    width: 400px;
    height: 100%;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    /*border: 2px solid black;*/
  }

.box5{
    width: 400px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /*border: 2px solid black;*/
  }

.box6{
    width: 400px;
    height: 100%;
    position: absolute;
    right: 0;
    /*border: 2px solid black;*/
  }


 
@media screen and (max-width: 1800px) {
    main {
        width: 100%;
        margin-left: 0%;
    }
    
    #categories_wrapper {
        width: 80%;
        margin-left: -10%;
    }
}

